<app-brand-crud></app-brand-crud>

<div class="card" style="width: 100%; margin-top: 10px">
  <div class="card-body col-md-12" style="width: 300px">
    <div class="table-light">
      <div class="row justify-content-center">
        <div class="col-auto">
          <table
            class="table table-striped table-bordered table-responsive"
            style="margin-top: 0px; margin-left: 15px"
          >
            <thead>
              <tr class="table-light text-center">
                <th colspan="2">Markalar</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-light" *ngFor="let brand of brandService.brands">
                <td (click)="populateForm(brand)" style="width: 500px">
                  {{ brand.brandName }}
                </td>
                <td (click)="populateForm(brand)" style="width: 50px">
                  <mat-icon aria-hidden="false" aria-label="update"
                    >update</mat-icon
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
