<div class="card" style="width: 100%; margin-top: 10px">
  <div class="card-body col-md-12" style="top: 10px; width: 300px">
    <h3 class="card-title"><b> Araç Renk İşlemleri</b></h3>
    <div>
      <form #form="ngForm" (submit)="onSubmit(form)" (reset)="resetForm(form)">
        <input
          type="hidden"
          name="colorId"
          [value]="colorService.colorFormData.colorId"
        />
        <div class="form-group">
          <div>
            <div class="card" style="width: 500px; left: 10px">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Yeni Renk Adı"
                      name="colorName"
                      #colorName="ngModel"
                      [(ngModel)]="colorService.colorFormData.colorName"
                      required
                      minlength="3"
                      [class.invalid]="colorName.invalid && colorName.touched"
                    />
                  </div>
                  <div class="col-md-3">
                    <button
                      class="btn btn-primary btn-block"
                      type="submit"
                      style="width: 100px"
                      [disabled]="form.invalid"
                    >
                      Tamam
                    </button>
                  </div>
                  <div class="col-md-3">
                    <button
                      class="btn btn-primary btn-block"
                      type="reset"
                      style="width: 100px"
                    >
                      İptal
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
